%h2 Please sign up, and join is in our world of Chitters
%form{ action: '/makers', method: 'post'}
  Email:
  %input{ name: 'email', type: 'text', value: "" }
  Password:
  %input{ name: 'password', type: 'password' }
  Password confirmation:
  %input{ name: 'password_confirmation', type: 'password'}
  Handle:
  %input{ name: 'handle', type: 'text' }
  Name:
  %input{ name: 'name', type: 'text' }
  %input{ type: 'submit', value: 'Sign up' }